{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block site_title %}{% endblock %} | PADEE Bakery </title>

    <link rel='icon' href = "{% static 'image/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    
    {% include 'bakery/components/site_header.html' %}
    {% block content %}
    {% endblock %}
    {% block scripts %}{% endblock %}
    {% include 'bakery/components/site_footer.html' %}

</body>
</html>