{% extends 'bakery/components/base.html' %}
{% load static %}
{% block site_title %} Home {% endblock %}
{% block content %}

<main>
  <div class="container">
    <img src="{% static 'images/background.jpg' %}" alt="padee" class="bg-image">
    <div class="text">
      <h1>PADEE BAKERY</h1>
      <p>ขนมปังอบสดใหม่ หอมกรุ่นทุกวัน</p>
    </div>
  </div>
  
  <div id="concept">
    <h2>แนวคิดของร้าน</h2>
    <div class="content">
      <div class="slogan">อบด้วยใจ ปลอดภัยด้วยธรรมชาติ</div>
      <p>
        <strong>PADEE BAKERY</strong> คือร้านเบเกอรี่โฮมเมดที่ใส่ใจในทุกขั้นตอนการทำ  
          เราเชื่อว่า <span class="highlight">"ขนมที่ดี เริ่มจากวัตถุดิบที่ดี"</span>  
          ทุกชิ้นจึงอบสดใหม่โดยไม่ใส่สารเสริม สารกันเสีย หรือวัตถุเจือปนใดๆ
      </p>
      <p>
        เราใช้เพียง <span class="highlight">เนยแท้ 100%</span> เพื่อรสชาติที่หอมละมุน พร้อมสุขภาพที่คุณมั่นใจได้  
        ไม่มีไขมันทรานส์ ไม่มีมาการีน ไม่มีของปลอมแฝง
      </p>
      <ul>
        <li>สำหรับคนที่รักสุขภาพแต่ยังอยากกินของอร่อย</li>
        <li>สำหรับคนที่ใส่ใจสิ่งที่ครอบครัวกิน</li>
        <li>สำหรับผู้ที่มองหาของขวัญเรียบง่ายแต่เต็มไปด้วยความใส่ใจ</li>
      </ul>
      <h3>แนวทางของเรา</h3>
      <p>
        ขนมทุกชิ้นถูกทำอย่างประณีตในปริมาณพอเหมาะเพื่อคงคุณภาพ  
        ไม่ผลิตจำนวนมาก ไม่เร่งรีบ เพราะเราเชื่อใน “ความใส่ใจ” มากกว่ากำไร
      </p>
      <div class="slogan">ไม่มีอะไรแอบแฝง มีแต่เนยแท้และใจที่อบให้</div>
    </div>
  </div>

  <div id="lineup">
    <h2>เมนูขนมปัง</h2>
    <div class="gallery">

      <div><img src="{% static 'images/B-29.jpg' %}" alt=""/><p>ธัญพืช</p></div>
      <div><img src="{% static 'images/B-12.jpg' %}" alt=""/><p>สังขยา</p></div>
      <div><img src="{% static 'images/B-.jpg' %}" alt=""/><p>อัลมอนด์เนยสด</p></div>
      <div><img src="{% static 'images/B-.jpg' %}" alt=""/><p>ลูกเกด</p></div>
      <div><img src="{% static 'images/B-20.jpg' %}" alt=""/><p>หมูหยองน้ำสลัดโบราญ</p></div>
      <div><img src="{% static 'images/B-5.jpg' %}" alt=""/><p>หมูหยองมายองเนส</p></div>
      <div><img src="{% static 'images/B-19.jpg' %}" alt=""/><p>หมูหยองน้ำพริกเผา</p></div>
      <div><img src="{% static 'images/B-.jpg' %}" alt=""/><p>ไส้กรอก</p></div>
      <div><img src="{% static 'images/B-28.jpg' %}" alt=""/><p>ไส้กรอกมายองเนส</p></div>
      <div><img src="{% static 'images/B-2.jpg' %}" alt=""/><p>ไส้กรอกพิซซ่า</p></div>
      <div><img src="{% static 'images/B-3.jpg' %}" alt=""/><p>แฮมพิซซ่า</p></div>
      <div><img src="{% static 'images/B-4.jpg' %}" alt=""/><p>แฮมมายองเนส</p></div>
    </div>
  </div>



  <div id="hours">
    <h2>เวลาทำการ</h2>
    <p>เปิดทุกวันจันทร์ - อาทิตย์ เวลา 08:00 - 16:00 น.</p>
  </div>

  <div id="access">
      <h2>ติดต่อเรา</h2>
      <div class="contact-item">
          📘 Facebook: 
          <a href="https://facebook.com/padeebakery" target="_blank">facebook.com/padeebakery</a>
      </div>
        <div class="contact-item">
            💬 Line: <a href="{% static 'images/line.jpg' %}" target="_blank">padeegroup</a>
        </div>
      <div class="contact-item">
          📸 Instagram:
          <a href="https://www.instagram.com/padeebakery" target="_blank">instagram.com/padeebakery</a>
      </div>
  </div>

  </main>
{% endblock %} 
